html {
  font-size: 62.5%;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid #fff;
  object-fit: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(219, 199, 120);
}
.container {
  transform: rotate(-5deg);
}

.container:hover img {
  transform: scale(1.5);
}

.container:hover {
  transform: rotate(0deg);
}

label {
  padding-left: 5px;
}

.white-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  height: 15vh;
  padding: 2rem 2rem;
  background: #f3ffff;
  border-radius: 20px 20px 0 0;
}

.white-box,
.colored-box {
  width: 200px;
}

.colored-box {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  height: 3.3vh;
  background: linear-gradient(90deg, #5cbfbb, #74d690);
  border-radius: 0 0 20px 20px;
}

@media screen and (min-width: 600px) {
  .white-box,
  .colored-box {
    width: 200px;
  }
  .white-box {
    height: 5vh;
  }
}

@media screen and (min-width: 320px) {
  .white-box,
  .colored-box {
    width: 200px;
  }
  .white-box {
    height: 10vh;
  }
  .colored-box {
    height: 3vh;
  }
  .colored-box,
  .white-box {
    font-size: 1rem;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
