html {
  font-size: 62.5%;
}
input {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #eee;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 2rem;
}

input[type="email"],
input[type="password"] {
  width: 35vw;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 4px #b9d3fa;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  color: white;
  background: #0d6efd;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 20px;
  width: 38vw;
  border: 0;
  outline: 0;
}

@media screen and (min-width: 720px) {
  input[type="email"],
  input[type="password"] {
    width: 25vw;
  }

  button {
    width: 27vw;
  }

  .form {
    align-items: center;
  }
}
