body {
  height: 100vh;
}

.box {
  border: 2px solid #111;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  justify-content: center;
}

.nav {
  margin-right: 2rem;
  margin-left: 2rem;
  height: 3.3rem;
  display: inline-block;
  font-size: 1.7rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: snow;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    justify-content: flex-end;
    height: 20vh;
  }
  .nav {
    font-size: 1rem;
    padding-top: 2rem;
  }
}
