@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("fonts/open-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"),
    url("fonts/open-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sacramentoregular";
  src: url("fonts/itim,sacramento/sacramento-regular-webfont.woff2")
      format("woff2"),
    url("fonts/itim,sacramento/sacramento-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "itimregular";
  src: url("fonts/itim,sacramento/itim-regular-webfont.woff2") format("woff2"),
    url("fonts/itim,sacramento/itim-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

.small {
  font-size: 3rem;
  font-family: sacramentoregular, Arial, Helvetica,
    sans-serif /*itim, Arial, Helvetica, sans-serif*/;
  font-weight: 700;
  color: rgb(237, 57, 12);
}

.big {
  font-size: 3rem;
  font-family: sacramentoregular, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgb(45, 64, 233); /*#873e23;*/
  background-color: snow;
  border-radius: 3rem;
  /*border: 0.2rem solid rgb(237, 57, 12);
  border: 0.2rem solid gold;*/
}

.container {
  padding: 0 1rem 0 1rem;
  display: flex;
  border: 0.2rem solid rgb(237, 57, 12);
  align-items: center;
  justify-content: center;
  background-color: snow;
  border-radius: 0.2rem;
  width: fit-content;
}

.gee {
  padding-left: 0.6rem;
}
